<div class="container">
    <div class="image-section" *ngIf="currentState === 'image1'">
      <img class="image" src="assets/chap5s1.png" alt="First Image">
    </div>
  
    <div class="centered">
        <p #titleRef>
            I really wanted to go and explore! Don’t worry, you’ll go soon! And those tasks are really fun, I promise! Well, I guess they look interesting.
        </p>
      </div>

    <div class="button-section">
      <button class="next-button" (click)="goToNextChapter()">Next!</button>
    </div>
    
  </div>
  