<div class="container">
    <video class="video" autoplay muted loop>
        <source src="assets/tlo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      
  
    <div class="centered">
        <p #titleRef>
            One of the biggest UMW projects are the Milky Way Peacekeepers, also nicknamed humorously as Peas, named after their headquarters — a green, spherical ship, as well as their logo. The path to becoming a Peacekeeper is extremely rigorous — the brightest children are taken to the Academy at 3 years old. Only the best of the best graduate, and they still have to complete the three-year practical training and pass the tests. 
        </p>
      </div>
      
    <div class="button-section">
      <button class="next-button" (click)="goToNextChapter()">Dalej</button>
    </div>
  </div>
  