<div class="container">
    <video class="video" autoplay muted loop>
        <source src="assets/tlo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      
  
      <div class="centered">
        <p #titleRef>
          It’s the year 2180. Earth, Mars, Wolf 1061, Gliese 667 Cc, Kepler 186f, (1) TRAPPIST-1e
          and roughly a thousand other planets have created an alliance...
          The war began when two planets simultaneously discovered how to use (2) hyperspeed for travel.
        </p>
        <span class="tooltip">(1)
          <span class="tooltiptext">get to know these planets more here! https://exoplanets.nasa.gov/alien-worlds/exoplanet-travel-bureau/ .</span>
        </span>
        <br>
      </div>
      
      
    <div class="button-section">
      <button class="next-button" (click)="goToNextChapter()">Dalej</button>
    </div>
  </div>
  