<div class="container">
    <div class="content">
      <div class="image-column">
      </div>
      <div class="text-column">
        <p>
          United Milky Way decided to make sure that their worlds will stay at peace. That’s why they created the Milky Way Peacekeepers, also nicknamed humorously as Peas. 
          <br><br>
          The most powerful force in the universe was definitely not as small as... peas, but everything connected to them was just... <span class="highlight">green</span>.
          <br><br>
          A spherical ship crossing through space to make sure that everyone is safe, their headquarters and even the logo all reminded the Milky Way citizens of the vegetable.
        </p>
        <button class="and-button" (click)="goToNextChapter()">AND?</button>
      </div>
    </div>
  </div>
  