<div class="container">
<div class="text-section">
    <p #titleRef>
        Everyone wanted to be part of the Peas. 
        Everyone wanted to keep the universe safe. <br>
    </p>
    <p #titleRef>
        But the path to becoming a Peacekeeper is extremely rigorous — only the brightest children can be chosen. 
        If they are, they start the Academy at 3 years old. <br>
    </p>
    <p #titleRef>
        Only the best of the best graduate, and they still have to complete the three-year practical training and pass the tests. <br>
    </p>
</div>

    
  
    <button class="speech-bubble" (click)="goToNextChapter()">
      <img src="assets/speechBubbleNew.png" alt="Speech Bubble" />
      <p>DO YOU REMEMBER<br><span class="highlight-green">YOUR JOURNEY..?</span></p>
    </button>
  </div>
  