<div class="container">
  <video class="video" autoplay muted loop>
    <source src="assets/tlo.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  
    <div class="centered">
        <p #titleRef>It’s the year 2180. Earth, Mars, Wolf 1061, Gliese 667 Cc, Kepler 186f, TRAPPIST-1e (? - get to know these planets more here! [link do strony]) and roughly a thousand other planets have created an alliance called the UMW (United Milky Way) following the Great War in 2124
            The war began when two planets simultaneously discovered how to use hyperspeed for travel. (? - krótka informacja o hiperprzestrzeni i o tym, dlaczego jest konieczna w historii) While scientifically groundbreaking, the discovery was unfortunately used as a weapon. Other societies have quickly caught up to (hyper)speed. After 18 years of battles and pacifist attempts at brokering a peace treaty, the war finally ended, leading to the creation of the UMW.
        </p>
      </div>
      
    <div class="button-section">
      <button class="next-button" (click)="goToNextChapter()">Dalej</button>
    </div>
  </div>
  