<div class="video-background">
    <video autoplay muted loop id="background-video">
      <source src="/assets/chb3v1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  
  <div class="content">
    <h1>CONGRATULATIONS</h1>
    <p>
      YOU HAVE JUST GRADUATED FROM THE ACADEMY.<br>
      NOW YOU'RE ON YOUR WAY TO YOUR FIRST MISSION.<br>
      OH, I THINK IT'S TIME YOU WAKE UP...
    </p>
    <button class="wakey-button"(click)="goToNextChapter()">WAKEY, WAKEY!</button>
  </div>
  